/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

/* RESET CSS DONE */

/* Font End */

/* NAVBAR */
.title-brand {
	float: left;
	padding: 15px 15px;
	line-height: 20px;
	background: #E00A0A;
}

.title-brand:hover,
.title-brand:focus,
.title-brand:active {
	text-decoration: none;
}



.navbar-menu a {
	text-decoration-style: none;
	color: white;
	font-family: 'Ubuntu';
	font-size: 25px;
	transition: .5s;
}

.navbar-menu a:hover {
	color: white;
	text-shadow: 5px 5px 10px rgba(0,0,0,.50);
}

.navbar-menu.black {
	background-color: #201E1E;
	box-shadow: 0px 4px 5px rgba(0,0,0,.50);
	transition: .5s;
}

.navbar-menu {
	background-color: rgba(0,0,0,.30);
	transition: .5s;

}

.navbar-menu li {
	padding-right: 50px;
}

.navbar-menu li a {
	color: white;
	transition: .5s;
	font-family: 'Ubuntu';
	font-size: 16px;
	font-weight: bold;
	background-color: transparent;
}

.navbar-menu li a:hover,
.navbar-menu li a:focus {
	background-color: white;
	color: black;
	border-radius: 50%;
}

.navbar-menu .navbar-toggle:hover,
.navbar-menu .navbar-toggle:focus {
  background-color: #fff;
}
.navbar-menu .navbar-toggle .icon-bar {
  background-color: #888;
}

@media(max-width: 768px) {

	.header {
		margin-top: 50px;
	}
    .navbar-menu {
        background-color: #201E1E;
        box-shadow: 0px 4px 5px rgba(0,0,0,.50);
     }

    .navbar-menu li a:hover,
	.navbar-menu li a:focus {
	  	background-color: white;
		color: black;
		border-radius: 20px;
	}
	.navbar-menu li {
		text-align: center;
	}

}


/* Navbar Done */

/* Helper */

.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-40 {
	margin-top: 40px;
}
.mt-50 {
	margin-top: 50px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mt-80 {
	margin-top: 80px;
}

.mt-90 {
	margin-top: 90px;
}

.mb-10 {
	margin-bottom: 10px;
}

.pb-10 {
	padding-bottom: 10px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pb-50 {
	padding-bottom: 50px;
}

.pb-60 {
	padding-bottom: 60px;
}

/* End Helper */

/* Header */
.hAwal, .hAkhir {
	opacity: 0;
	transition: 5s;
}

.hAwal.hToggle, .hAkhir.hToggle {
	opacity: 1;
}


.header {
  background:  linear-gradient(rgba(0,0,0,.40), rgba(0, 0, 0, .50)), url(../img/bg-head.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
  max-width: 100%;
  width: 100%
  background-position: center center;
  background-size: cover;
  padding: 30px;
  padding-top: 70px;
}

.bio-head {
	margin: 250px 0;
}

@media (min-width: 0) {
	.bio-head h1 {
	font-family: 'Ubuntu';
	color: white;
	margin-top: -160px;
	text-shadow: 5px 5px 10px rgba(0,0,0,.50);
	font-size: 35px;
	text-align: center;
	}

	.bio-head h2 {
		font-family: 'Ubuntu';
		color: white;
		text-shadow: 5px 5px 10px rgba(0,0,0,.50);
		font-size: 20px;
		text-align: center;
		line-height: 5px;
	}
}

@media (min-width: 480px) {
	.bio-head h1 {
	font-family: 'Ubuntu';
	color: white;
	margin-top: -160px;
	text-shadow: 5px 5px 10px rgba(0,0,0,.50);
	font-size: 70px;
	line-height: 100px;
	text-align: center;
	}

	.bio-head h2 {
		font-family: 'Ubuntu';
		color: white;
		text-shadow: 5px 5px 10px rgba(0,0,0,.50);
		font-size: 26px;
		text-align: center;
		line-height: 5px;
		letter-spacing: 5px;
	}

}

@media (min-width: 768px) {
	.bio-head h1 {
	font-family: 'Ubuntu';
	color: white;
	margin-top: -50px;
	text-shadow: 5px 5px 10px rgba(0,0,0,.50);
	font-size: 120px;
	line-height: 100px;
	text-align: center;
	}

	.bio-head h2 {
		font-family: 'Ubuntu';
		color: white;
		text-shadow: 5px 5px 10px rgba(0,0,0,.50);
		font-size: 26px;
		text-align: center;
		line-height: 10px;
		letter-spacing: 20px;
	}

}

/* Header Done */


/* About */
.about {
  background-repeat: no-repeat;
  background-color: white;
  height: 100%;
  background-attachment: scroll;
  background-position: 0 0px;
  background-size: cover;
  padding-bottom: 42px;
}

.text-about {
	margin: 10px;
	margin-bottom: 60px;
}

.about h1 h2 {
	padding-top: 20px;
	color: black;
	font-family: 'Lato', sans-serif;
}

.about p {
	color: #454040;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	line-height: 20px;

}

.img-profile {
	width: 250px;
	height: 400px;
	max-width: 100%;
	border-radius: 50px;
	box-shadow: 5px 5px 5px rgba(0,0,0,.60);
}

@media (min-width: 0) {
	.about h1 {
	padding-top: 20px;
	color: black;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	}

	.about h2 {
	padding-top: 20px;
	color: black;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	}

	.about p {
		color: #454040;
		font-family: 'PT Sans', sans-serif;
		text-align: center;
		line-height: 19px;
		font-size: 10px;
	}

	.img-profile {
	display: none;
	}
	.img-profile-hp {
		max-width: 100%;
		max-height: auto;
		height: auto;
		border-radius: 50%;
		margin-top: 50px;
	}

}

@media (min-width: 480px) {
	.about h1 {
	padding-top: 20px;
	color: black;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	}

	.about p {
		color: #454040;
		font-family: 'PT Sans', sans-serif;
		text-align: center;
		line-height: 19px;
		font-size: 16px;
	}

	.img-profile {
	display: none;
	}
	.img-profile-hp {
		max-width: 100%;
		max-height: auto;
		height: auto;
		border-radius: 50%;
		margin-top: 20px;
	}

}

@media (min-width: 768px) {
	.about h1 {
	padding-top: 20px;
	color: black;
	font-size: 40px;
	font-family: 'Lato', sans-serif;
	}

	.about p {
		color: #454040;
		font-family: 'PT Sans', sans-serif;
		text-align: center;
		line-height: 20px;
		font-size: 18px;
	}
	.img-profile-hp {
		display: none;
	}
	.img-profile {
		display: block;
	}

}


.btn-biodata {
  color: white;
  background-color: transparent;
  font-family: 'PT Sans', sans-serif;
  transition: .5s;
}
.btn-biodata:focus,
.btn-biodata.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.btn-biodata:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;

}

/* About Done */

/* Skills */
.skills-text h2 {
	margin: 0 0 30px;
}

.skillbar-item {
    margin-bottom: 30px;	
}

.skillbar {
    position: relative;
    display: block;
    width: 100%;
}

.skillbar-score {
	background-color: #F64343;
    padding: 7px;
    text-align: center;
    color: white;
    font-weight: 300;
    float: right;
    width: 50px;
    height: 40px;
    vertical-align: middle;
 }

.skillbar-score .score {
    font-size: 20px;
}

.skillbar-score .percent {
    font-size: 13px;
}

.skillbar-bar {
	display: block;
    background-color: #D2CACA;
    height: 3px;
    width: 100%;
}

.skillbar h3 {
	font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: #F64343;
    letter-spacing: 2px;	
	margin: 0;
    padding: 12px 0;
}

.skillbar-percent {
    color: #fff;
    background-color: black;
	float: left;
    height: 3px;
}
/* Skills Done */

/* Work Exp */
.about h4 {
	color: black;
	font-weight: bold;
	font-size: 40px;
}

.job {
	border: 2px solid rgba(0,0,0,.70);
	text-align: center;
	padding: 20px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0,0,0,.60);
}

.job img {
	max-width: 100%;
	height: auto;
	width: 100px;
}

.job h1 {
	font-size: 20px;
	margin-top: -15px;

}

.job p {
	font-size: 16px;
}


/* Work Exp Done*/

/* Hobby */
.hobby .thumb-hobby {
	opacity: 0;
	transform: translate(0, -50px);
	transition: .5s;
}

.hobby .thumb-hobby.popup {
	opacity: 1;
	transform: translate(0,0);
}

.music {
	background-color: rgba(34,31,31,.50);
	max-width: 100%;
	margin-bottom: 30px;
	padding-bottom: 20px;
}
.music h2 {
	font-size: 16px;
	font-family: 'Ubuntu';
	color: white;
}

.music h1 {
	font-size: 30px;
	border-bottom: 2px solid #FFFFFF;
}

.music audio {
	max-width: 100%;
}

.hobby h2 {
	font-family: 'Ubuntu', sans-serif;
}
.hobby {
  -webkit-background: linear-gradient(rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../img/hobby.jpg);
  -o-background: linear-gradient(rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../img/hobby.jpg);
  -moz-background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../img/hobby.jpg);
  background: linear-gradient(rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../img/hobby.jpg);
  height: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-width: 100%
}

.hobby h1 {
	color: white;
	padding-top: 20px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}


.thumb-hobby img {
	border: 2px solid white;
	box-shadow: 5px 5px 5px rgba(0,0,0,.50);
	max-width: 100%;
	height: auto;
	margin: 10px;
}

/* End Hobby */

/* Contact */
.contact {
  background-repeat: no-repeat;
  background-color: white;
  height: 100%;
  padding-bottom: 50px;
}
.contact h1 {
	padding-top: 35px;
	color: black;
	font-weight: bold;
	font-family: "Ubuntu";
	text-shadow: 5px 5px 5px rgba(255,255,255,.10);
}

.img-contact img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	height: auto;
	width: 150px;
}

.img-contact h2 {
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
}


.text-sosmed {
	padding: 10px;
	margin-top: -30px;
}
.text-sosmed h1 {
	font-family: 'Ubuntu';

}

.sosmed {
	background-color: #F2F2F2;
	box-shadow: 5px 5px 5px rgba(0,0,0,.50);
	border-radius: 100px;

}

.sosmed img {
	display: inline-block;
	width: 50px;
	padding: 10px 15px;
	transition: .3s;
}

.sosmed img:hover,
.sosmed img:focus {
	width: 60px;
	filter: drop-shadow(1px 1px rgba(0,0,0,.50));
}


/* End Contact */


/* Footer */

.footer {
	max-width: 100%;
	height: auto;
}

.footer h1 {
	font-family: 'Ubuntu';
	font-size: 12px;
	background-color: black;
	color: white;
	padding: 10px;
	margin: 0;
	text-align: center;
}

.footer a {
	text-decoration: none;
	color: #A89D9D;
	transition: .3s;
}

.footer a:hover {
	color: red;
	text-decoration: none;
}

@media (min-width: 480px) {
	.footer h1 {
	font-family: 'Ubuntu';
	font-size: 16px;
	background-color: black;
	color: white;
	padding: 15px;
	margin: 0;
	text-align: center;
	}

	.footer a {
		text-decoration: none;
		color: #A89D9D;
		transition: .3s;
	}

	.footer a:hover {
		color: red;
		text-decoration: none;
	}
}	
/* End Footer */

/* Content */

.content {
	background-color: white;
	box-shadow: 5px 5px 10px rgba(0,0,0,.50);
	margin-top: 50px;
	font-family: 'Ubuntu';
}

.head-bio {
	margin: 20px;
}

.img-bio {
	box-shadow: 2px 2px 5px rgba(0,0,0,.50);

}

.text-bio {
	text-align: justify;

}












